:root {
  --main-background: #111822;
  --secondary-background: #011f41;
  --card-backround: #12183a;
  --main-border-color: #26324d;
  --main-text-color: rgba(255, 255, 255, 0.6);
  --heading-text-color: #f7faff;
  /* --accent-color: #06e5ff; */
  --accent-color: #209cee;
  --hover-color: #0075fe;
  --btn-radius: 0.5rem;
  --btn-padding: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: var(--main-background);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--heading-text-color);
  line-height: 1.05;
  letter-spacing: -0.04em;
  font-weight: 700;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  max-width: 75%;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn {
  background: var(--accent-color);
  color: #fff;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: background 250ms ease-in-out;
  font-size: 1rem;
  font-weight: 600;
  width: 200px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

/* ------------ Main Header ------------ */
.nav-header {
  background-color: var(--main-background);
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  /* backdrop-filter: blur(10px); */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transform: translateY(-100%); */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 1000;
}

.nav-header .container {
  width: 100%;
}

.nav-header ul a {
  color: var(--heading-text-color);
  transition: color 250ms ease-in-out;
}

.nav-header ul a:hover {
  color: var(--main-text-color);
}

/* .nav-header.show {
  transform: translateY(0);
} */

.logo {
  width: 50px;
  fill: var(--accent-color);
}

.nav-header nav,
.nav-header ul {
  display: flex;
  align-items: center;
}

.nav-header nav {
  justify-content: space-between;
}

.nav-header nav ul {
  gap: 2rem;
}

/* ------------ Hero Section ------------ */

.about,
footer {
  padding: 2.5rem 0;
}
.hero {
  min-height: calc(100vh - 60px);
  min-height: calc(100dvh - 60px);
  padding-bottom: 2.5rem;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  /* min-height: calc(100dvh - 70px); */
}

.hero p {
  line-height: 1.75;
  font-weight: 400;
  max-width: 650px;
  margin-top: 2rem;
}

/* .hero-line {
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
  margin-top: 2rem;
} */

/* .hero-cta {
  margin-top: auto;
} */

.btn-portfolio {
  margin: 1.5rem 1rem 0 0;
}

.btn-portfolio i {
  margin-right: 1rem;
  transition: transform 250ms ease-in-out;
}

.btn-portfolio:hover {
  /* color: var(--heading-text-color); */
  background: var(--hover-color);
}

.btn-portfolio:hover i {
  transform: translateX(0.75rem);
}

.btn-about {
  background-color: transparent;
  border: 1px solid var(--heading-text-color);
  color: var(--heading-text-color);
}

.btn-about:hover {
  background-color: rgba(126, 180, 252, 0.1);
  /* color: var(--heading-text-color); */
}

/* ------------ About me ------------ */
/* .about {
} */

.about h2 {
  margin-bottom: 2rem;
}

.about-wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem; */
}

/* .about-content {
  order: 2;
} */

.about-content .bio {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.about .line {
  width: 100%;
  height: 2px;
  background: var(--main-text-color);
  margin: 1.5rem 0;
}

.more-info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* .more-info-content {
  align-self: flex-end;
} */

.more-info-content div {
  margin-bottom: 1rem;
  /* border-bottom: 1px solid var(--main-text-color); */
  /* padding: 0.75rem; */
  /* background: rgba(126, 180, 252, 0.1); */
}

.more-info-content div:last-child {
  margin-bottom: 0;
}

.more-info-content h4 {
  margin-bottom: 0.25rem;
}

.more-info-content p {
  font-size: 1.15rem;
  line-height: 1.25;
}

.more-info-image {
  opacity: 0.75;
}

/* ------------ Footer ------------ */

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-footer {
  display: flex;
  gap: 1rem;
}

.right-footer i {
  font-size: 2rem;
}
